*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/html-me-something/images/mountain.jpg); 
    background-size: cover; 
                }
#title{
    font-size: 120px;
    text-align: justify;
    color: darkslategray;
}
#title2{
    font-size: 100px;
    text-align: center;
    color: darkolivegreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.container{
    /*max-width: 950px;*/
    margin: 0 auto;
    text-align: justify;
    padding-left: 50px;
}
.rivers{
    color:black;
    width: 600px;
    font-size: 20px;
}

.picture{
    text-align: center;
    background-color: rgb(125, 147, 160);
    border: 5px ridge rgb(233, 41, 105);
    padding: 10;
}

.subheader{
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    padding: 20px;
    border: 5px ridge black;
    background-color: rgb(112, 133, 121);
}
.container ul li{
    color:black;
    font-size: 40px;
    text-align: center;
    list-style: none;
}


.lilRedPics{
    text-align: center;
}
.rounded{
    border-radius: 50%;
    padding: 1px;
    border: 5px ridge rgb(233, 41, 105);
}